@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
body {
  font-family: 'Play', 'Alegreya Sans';
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px; }

html, body {
  height: 100%;
  width: 100%; }

a {
  color: inherit; }

.main-page-wrapper {
  width: 100%; }

.container {
  margin: 0 auto;
  width: 1000px; }

ul {
  padding: 0;
  margin: 0; }

ul, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

p {
  margin-top: 0px; }

.first-screen {
  background-color: whitesmoke;
  position: relative; }

.first-screen:after {
  content: '';
  width: 46.32px;
  height: 10.38px;
  background: #C4C4C4;
  position: absolute;
  left: 1124px;
  transform: rotate(-45deg);
  margin-top: -9px; }

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  color: #292929; }

input {
  outline: none; }

textarea {
  outline: none; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 25px;
  margin-bottom: 20px; }

.logo__img {
  height: 40px;
  width: 40px; }

.logo {
  margin-right: 31px; }

.contacts__link {
  text-decoration: none;
  font-size: 18px;
  color: black; }

.contacts:before {
  content: url("./../css/img/icons/phone.png");
  width: 14px;
  height: 14px;
  margin-right: 3px;
  display: inline-block; }

.contacts {
  margin-right: 82px; }

.button {
  background: #e01f3d;
  border-radius: 100px;
  padding: 21px 41px;
  color: white;
  font-weight: bold;
  border: none;
  text-transform: uppercase; }
  .button:hover {
    background: #ca1b36; }

.preview {
  display: flex;
  justify-content: space-between; }
  .preview .preview__desc {
    margin-right: 0px;
    padding-top: 33px; }
    .preview .preview__desc .title_left {
      text-align: left; }
    .preview .preview__desc .preview__desc_info {
      font-size: 21px;
      line-height: 25px;
      color: black;
      padding-top: 32px;
      padding-bottom: 32px; }
  .preview .preview__headphones {
    margin-right: 42px; }

.menu__item {
  margin-right: 17px;
  list-style: none; }

.menu__item:last-child {
  margin-right: 0px; }

.menu__list {
  display: flex;
  justify-content: space-between; }

.menu__link {
  font-size: 18px;
  text-decoration: none;
  color: black; }

.features {
  padding-bottom: 40px; }
  .features .features__list {
    display: flex;
    margin-top: -40px; }
    .features .features__list .features__item {
      display: flex;
      align-items: center;
      margin-right: 30px;
      width: 153px; }
      .features .features__list .features__item .features__img {
        margin-right: 8px; }

.why {
  padding-top: 100px;
  position: relative;
  padding-bottom: 45px; }
  .why:after {
    content: '';
    width: 0px;
    height: 0px;
    margin-top: 25px;
    position: absolute;
    margin-left: -24px;
    border-left: 17px solid transparent;
    border-right: 22px solid transparent;
    transform: rotate(-14deg);
    border-bottom: 31px solid #E01F3D;
    z-index: 10; }
  .why .why__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #666666; }
  .why .why__desc .why__icons {
    display: flex;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 32px;
    justify-content: space-between; }
    .why .why__desc .why__icons .why__battery {
      width: 125px;
      height: 125px;
      background: whitesmoke;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 64px; }
    .why .why__desc .why__icons .why__bubbles {
      display: flex;
      align-items: center; }
      .why .why__desc .why__icons .why__bubbles .why__bubbles_left {
        width: 13px;
        height: 13px;
        background: whitesmoke;
        border-radius: 50%;
        margin-right: 12px; }
      .why .why__desc .why__icons .why__bubbles .why__bubbles_center {
        width: 21px;
        height: 21px;
        background: whitesmoke;
        border-radius: 50%;
        margin-right: 12px; }
      .why .why__desc .why__icons .why__bubbles .why__bubbles_right {
        width: 13px;
        height: 13px;
        background: whitesmoke;
        border-radius: 50%; }
    .why .why__desc .why__icons .why__speaker {
      width: 125px;
      height: 125px;
      background: whitesmoke;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .why .why__desc .why__icons .why__watch {
      width: 125px;
      height: 125px;
      background: whitesmoke;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 126px; }
  .why .why__desc .why__text {
    display: flex;
    margin-right: 54px; }
    .why .why__desc .why__text .why__text_desc {
      text-align: center;
      margin-right: 93px; }
      .why .why__desc .why__text .why__text_desc:last-child {
        margin-right: 0px; }
      .why .why__desc .why__text .why__text_desc .why__text_title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px; }
      .why .why__desc .why__text .why__text_desc .why__text_text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #666666;
        padding-top: 23px; }

.beats-section {
  background: whitesmoke;
  position: relative; }
  .beats-section::after {
    content: '';
    width: 24px;
    height: 24px;
    background: #292929;
    transform: rotate(29.11deg);
    position: absolute;
    left: 1193px;
    top: 645px; }

.beats {
  display: flex;
  align-items: center;
  padding-top: 67px;
  padding-bottom: 93px;
  margin-bottom: 62px; }
  .beats .beats__link .beats__link_left {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 2px solid black;
    display: inline-block;
    transform: rotate(45deg);
    border-right: transparent;
    border-top: transparent;
    margin-right: 30px; }
  .beats .beats__link .beats__link_right {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 2px solid black;
    display: inline-block;
    transform: rotate(45deg);
    border-left: transparent;
    border-bottom: transparent; }
  .beats .beats__img {
    margin-right: 35px;
    margin-top: 30px; }
  .beats .beats__desc .beats__desc_menu {
    margin-bottom: 30px; }
    .beats .beats__desc .beats__desc_menu .beats__desc_button {
      width: 91px;
      height: 91px;
      background: #9A9A9A;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .beats .beats__desc .beats__desc_title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 24px; }
  .beats .beats__desc .beats__desc_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    margin-bottom: 49px; }
  .beats .beats__desc .beats__desc_specs {
    display: flex;
    margin-bottom: 50px; }
    .beats .beats__desc .beats__desc_specs .beats__desc_subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #666666;
      margin-right: 93px; }
    .beats .beats__desc .beats__desc_specs .beats__desc_parameter {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: black; }
  .beats .beats__desc .beats__desc_order {
    display: flex;
    align-items: center; }
    .beats .beats__desc .beats__desc_order .beats__desc_price {
      margin-right: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 60px;
      text-transform: uppercase;
      color: #151515; }

.team {
  margin-bottom: 50px; }

.team__list {
  display: flex;
  justify-content: space-between; }
  .team__list .team__item {
    text-align: center; }
    .team__list .team__item .team__img {
      margin-bottom: 17px; }
    .team__list .team__item .team__name {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: #292929;
      margin-bottom: 9px;
      position: relative; }
      .team__list .team__item .team__name::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 8px solid #E01F3D;
        margin-top: 9px;
        position: absolute;
        margin-left: 3px; }
    .team__list .team__item .team__job {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #292929;
      margin-bottom: 9px; }
    .team__list .team__item .team__text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #666666; }

.review {
  margin-bottom: 86px; }

.review__section--circle {
  position: relative; }
  .review__section--circle:before {
    content: '';
    width: 83px;
    height: 83px;
    background: white;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: -65px; }

.review__section {
  overflow: hidden;
  display: flex;
  align-items: center;
  background: #F8FAF9;
  padding: 50px 46px 35px 46px;
  margin-bottom: 17px;
  margin-top: 37px; }
  .review__section .review__img_img {
    margin-right: 20px; }
  .review__section .review__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #292929;
    margin-bottom: 33px; }
  .review__section .review__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    margin-bottom: 33px; }
  .review__section .review__name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #292929; }

.review__list {
  display: flex;
  background: white;
  justify-content: center; }
  .review__list .review__img {
    object-fit: cover;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 13px; }
  .review__list .review__img_active {
    border: 4px solid #E01F3D; }

.form-section {
  background: #161616;
  padding-top: 72px; }

.title__white {
  color: white; }

.form {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex; }
  .form .form__col {
    flex: 1;
    margin-right: 40px; }
    .form .form__col:last-child {
      margin-right: 0px; }
    .form .form__col .form__row {
      display: flex;
      margin-bottom: 15px; }
      .form .form__col .form__row .form__block {
        flex: 1;
        margin-right: 40px; }
        .form .form__col .form__row .form__block:last-child {
          margin-right: 0px; }
        .form .form__col .form__row .form__block .form__input {
          width: 100%;
          padding: 20px 12px;
          border: 3px solid transparent; }
          .form .form__col .form__row .form__block .form__input:focus {
            border-color: red;
            outline: none; }
        .form .form__col .form__row .form__block .form__input_textarea {
          height: 135px;
          resize: none; }

.radio {
  display: flex;
  align-items: center;
  margin-right: 35px;
  cursor: pointer;
  user-select: none; }
  .radio--checkbox .radio__control {
    border-radius: 0; }
    .radio--checkbox .radio__control:before {
      background: url("./img/icons/check.png") center center no-repeat; }

.radio__button {
  display: none; }
  .radio__button:checked + .radio__control:before {
    display: block; }

.radio__control {
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border-radius: 50%;
  margin-right: 10px;
  position: relative; }
  .radio__control:before {
    content: '';
    width: 14px;
    height: 14px;
    background: #E01F3D;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }

.form__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-bottom: 5px; }

.button__reset {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: none;
  border: none;
  margin-left: 22px; }

.form__row_button {
  padding-top: 25px; }

.onepagescroll {
  position: fixed;
  top: 25%;
  right: 19%;
  z-index: 100; }

.onepagescroll__item {
  margin-bottom: 5px; }
  .onepagescroll__item--active .onepagescroll__link {
    border-color: red; }
    .onepagescroll__item--active .onepagescroll__link:before {
      background-color: red; }

.onepagescroll__link {
  width: 18px;
  height: 18px;
  border: 1px solid transparent;
  position: relative;
  border-radius: 50%;
  display: block; }
  .onepagescroll__link:before {
    content: '';
    width: 9px;
    height: 9px;
    background: #292929;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*# sourceMappingURL=main.css.map */
