@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

body {
  font-family: 'Play', 'Alegreya Sans';
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px; }

html, body {
  height: 100%;
  width: 100%; }

a {
  color: inherit; }

.main-page-wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 940px; }

* {
  box-sizing: border-box; }

ul {
  padding: 0;
  margin: 0; }

ul, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

p {
  margin-top: 0px; }

img {
  display: block;
  max-width: 100%; }

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  text-align: center;
  text-transform: uppercase;
  color: #292929; }

input {
  outline: none; }

textarea {
  outline: none; }

.section {
  min-height: 40.625rem;
  height: 100vh;
  display: flex;
  align-items: center; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.hamburger {
  width: 24px;
  height: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  margin-top: 14px; }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: inline-flex; } }
  .hamburger .hamburger__plank {
    display: block;
    height: 4px;
    background: black;
    border-radius: 10px; }

.logo {
  min-height: 2.5rem;
  min-width: 2.5rem; }

.contacts {
  display: flex;
  align-items: center;
  padding-top: 7px; }
  @media screen and (max-width: 480px) {
    .contacts {
      justify-content: center;
      margin-bottom: 10px; } }

.contacts__link {
  text-decoration: none;
  font-size: 1.125rem;
  color: black;
  white-space: nowrap; }
  @media screen and (max-width: 768px) {
    .contacts__link {
      display: none; } }

.contacts:before {
  content: url("./img/icons/phone.png");
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.1875rem;
  display: inline-block;
  flex-shrink: 0; }
  @media screen and (max-width: 768px) {
    .contacts:before {
      display: none; } }

.button {
  background: #e01f3d;
  border-radius: 6.25rem;
  padding: 1.3125rem 2.5625rem;
  color: white;
  font-weight: bold;
  border: none;
  text-transform: uppercase; }
  .button:hover {
    background: #ca1b36; }

.first-screen {
  background-color: whitesmoke;
  position: relative; }

.first-screen__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.first-screen:after {
  content: '';
  width: 2.875rem;
  height: 0.625rem;
  background: #C4C4C4;
  position: absolute;
  left: 70rem;
  transform: rotate(-45deg);
  bottom: 0; }
  @media screen and (max-width: 768px) {
    .first-screen:after {
      left: 40.5rem; } }
  @media screen and (max-width: 480px) {
    .first-screen:after {
      left: 28rem; } }

.preview {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  @media screen and (max-width: 768px) {
    .preview {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-flow: column-reverse;
      justify-content: center;
      align-items: center; } }
  .preview .preview__desc {
    margin-right: 0px;
    padding-top: 2.0625rem;
    width: 50%; }
    @media screen and (max-width: 768px) {
      .preview .preview__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 93%; } }
    .preview .preview__desc .title-left {
      text-align: left; }
      @media screen and (max-width: 768px) {
        .preview .preview__desc .title-left {
          text-align: center; } }
      @media screen and (max-width: 480px) {
        .preview .preview__desc .title-left {
          padding: 0 3rem; } }
    .preview .preview__desc .preview__desc-info {
      font-size: 1.3125rem;
      line-height: 1.5625rem;
      color: black;
      padding-top: 2rem;
      padding-bottom: 2rem; }
      @media screen and (max-width: 768px) {
        .preview .preview__desc .preview__desc-info {
          padding: 2rem 7rem; } }
      @media screen and (max-width: 480px) {
        .preview .preview__desc .preview__desc-info {
          padding: 2rem 2rem; } }
  .preview .preview__headphones {
    width: 54%; }

.menu {
  margin: 0 30px;
  padding-top: 7px; }

.menu__item {
  margin-right: 1.0625rem;
  margin-bottom: 0.625rem;
  list-style: none; }

.menu__item:last-child {
  margin-right: 0px; }

.menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .menu__list {
      display: none; } }

.menu__link {
  font-size: 1.125rem;
  text-decoration: none;
  color: black;
  white-space: nowrap; }

.features .features__list {
  display: flex; }
  @media screen and (max-width: 768px) {
    .features .features__list {
      display: none; } }
  .features .features__list .features__item {
    display: flex;
    align-items: center;
    margin-right: 1.875rem;
    width: 9.5625rem; }
    .features .features__list .features__item .features__icon {
      margin-right: 0.5rem;
      width: 50%; }

.why-section {
  position: relative; }
  .why-section:after {
    content: '';
    width: 0px;
    height: 0px;
    left: 10rem;
    position: absolute;
    margin-left: -1.5rem;
    border-left: 1.375rem solid transparent;
    border-right: 1.375rem solid transparent;
    transform: rotate(-14deg);
    border-bottom: 1.9375rem solid #E01F3D;
    z-index: 10;
    bottom: -0.6rem; }

.why__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 3%;
  position: relative; }
  .why__item:after {
    content: url("./img/icons/bubbles.png");
    transform: translateX(50%);
    top: 18%;
    right: 0px;
    position: absolute; }
    @media screen and (max-width: 768px) {
      .why__item:after {
        display: none; } }
  .why__item:first-child {
    padding-left: 0; }
  .why__item:last-child {
    padding-right: 0; }
    .why__item:last-child:after {
      display: none; }
  .why__item .why__item-textcontent {
    text-align: center; }
    @media screen and (max-width: 480px) {
      .why__item .why__item-textcontent {
        text-align: left; } }
  .why__item .why__item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 480px) {
      .why__item .why__item-content {
        margin-left: 1rem;
        align-items: flex-start; } }
  @media screen and (max-width: 480px) {
    .why__item {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0 0; } }

.why__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #666666;
  padding-right: 10.9375rem;
  padding-left: 10.9375rem;
  padding-top: 1.625rem;
  margin-bottom: 3.625rem; }
  @media screen and (max-width: 768px) {
    .why__subtitle {
      padding-left: 6rem;
      padding-right: 6rem; } }
  @media screen and (max-width: 480px) {
    .why__subtitle {
      padding: 0 1rem;
      margin-bottom: 0; } }

.why__desc {
  display: flex; }
  @media screen and (max-width: 480px) {
    .why__desc {
      flex-direction: column; } }

.why__item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  margin-bottom: 1rem; }
  @media screen and (max-width: 768px) {
    .why__item-title {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .why__item-title {
      text-align: left; } }

.why__item-circle {
  min-width: 124px;
  min-height: 124px;
  background: whitesmoke;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.8125rem; }
  @media screen and (max-width: 480px) {
    .why__item-circle {
      margin-bottom: 0; } }

.beats-section {
  background: whitesmoke;
  position: relative; }
  .beats-section::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background: #292929;
    transform: rotate(29.11deg);
    position: absolute;
    left: 74.5625rem;
    bottom: -1rem; }

.beats {
  display: flex;
  align-items: center;
  padding-top: 4.1875rem;
  padding-bottom: 5.8125rem;
  margin-bottom: 3.875rem; }
  .beats .beats__content {
    display: flex; }
    @media screen and (max-width: 768px) {
      .beats .beats__content {
        flex-direction: column; } }
  @media screen and (max-width: 768px) {
    .beats .beats__link {
      padding-bottom: 50%; } }
  @media screen and (max-width: 480px) {
    .beats .beats__link {
      padding-bottom: 70%; } }
  .beats .beats__link .beats__link-left {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.125rem;
    border: 0.125rem solid black;
    display: inline-block;
    transform: rotate(45deg);
    border-right: transparent;
    border-top: transparent;
    margin-right: 1.875rem; }
    @media screen and (max-width: 768px) {
      .beats .beats__link .beats__link-left {
        margin-right: 0; } }
  .beats .beats__link .beats__link-right {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.125rem;
    border: 0.125rem solid black;
    display: inline-block;
    transform: rotate(45deg);
    border-left: transparent;
    border-bottom: transparent; }
  .beats .beats__img {
    flex: 50%;
    margin-right: 2.1875rem;
    margin-top: 1.875rem;
    border-radius: 50%; }
    @media screen and (max-width: 768px) {
      .beats .beats__img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.1875rem;
        width: 47.5%;
        margin-left: 29%; } }
    @media screen and (max-width: 480px) {
      .beats .beats__img {
        width: 73%;
        margin-left: 15%; } }
  .beats .beats__desc {
    flex: 50%; }
    @media screen and (max-width: 768px) {
      .beats .beats__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .beats .beats__desc .beats__desc-menu {
      margin-bottom: 1.875rem; }
      @media screen and (max-width: 768px) {
        .beats .beats__desc .beats__desc-menu {
          display: none; } }
      .beats .beats__desc .beats__desc-menu .beats__desc-button {
        width: 5.6875rem;
        height: 5.6875rem;
        background: #9A9A9A;
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center; }
    .beats .beats__desc .beats__desc-title {
      font-style: normal;
      font-weight: bold;
      font-size: 2.25rem;
      line-height: 2.625rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem; }
      @media screen and (max-width: 768px) {
        .beats .beats__desc .beats__desc-title {
          text-align: center; } }
    .beats .beats__desc .beats__desc-text {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.1875rem;
      color: #666666;
      margin-bottom: 3.0625rem; }
      @media screen and (max-width: 768px) {
        .beats .beats__desc .beats__desc-text {
          text-align: center; } }
    .beats .beats__desc .beats__desc-specs {
      display: flex;
      margin-bottom: 3.125rem; }
      @media screen and (max-width: 768px) {
        .beats .beats__desc .beats__desc-specs {
          display: flex;
          justify-content: center;
          align-items: center; } }
      .beats .beats__desc .beats__desc-specs .beats__desc-subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.1875rem;
        color: #666666;
        margin-right: 5.8125rem; }
        .beats .beats__desc .beats__desc-specs .beats__desc-subtitle:last-child {
          margin-right: 0; }
      .beats .beats__desc .beats__desc-specs .beats__desc-parameter {
        font-style: normal;
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.3125rem;
        color: black; }
    .beats .beats__desc .beats__desc-order {
      display: flex;
      align-items: center; }
      .beats .beats__desc .beats__desc-order .beats__desc-price {
        font-style: normal;
        font-weight: normal;
        font-size: 2.25rem;
        line-height: 3.75rem;
        text-transform: uppercase;
        color: #151515;
        margin-right: 1.5625rem;
        white-space: nowrap; }

.team {
  margin-bottom: 3.125rem; }

.team__list {
  display: flex;
  justify-content: space-between; }
  .team__list .team__item {
    text-align: center; }
    .team__list .team__item .team__img {
      margin-bottom: 1.0625rem; }
    .team__list .team__item .team__name {
      font-style: normal;
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.3125rem;
      color: #292929;
      margin-bottom: 0.5625rem;
      position: relative; }
      .team__list .team__item .team__name::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 0.25rem solid transparent;
        border-right: 0.25rem solid transparent;
        border-top: 0.5rem solid #E01F3D;
        margin-top: 0.5625rem;
        position: absolute;
        margin-left: 0.1875rem; }
    .team__list .team__item .team__job {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.1875rem;
      color: #292929;
      margin-bottom: 0.5625rem; }
    .team__list .team__item .team__text {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.1875rem;
      color: #666666; }

.review {
  margin-bottom: 5.375rem; }

.review__section--circle {
  position: relative; }
  .review__section--circle:before {
    content: '';
    width: 5.1875rem;
    height: 5.1875rem;
    background: white;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: -4.0625rem; }
    @media screen and (max-width: 768px) {
      .review__section--circle:before {
        left: 45%; } }

.review__section {
  overflow: hidden;
  display: flex;
  align-items: center;
  background: #F8FAF9;
  padding: 3.125rem 2.875rem 2.1875rem 2.875rem;
  margin-bottom: 1.0625rem;
  margin-top: 2.3125rem; }
  @media screen and (max-width: 768px) {
    .review__section {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .review__section .review__section-photo {
    margin-right: 1.25rem;
    min-width: 32%; }
    @media screen and (max-width: 768px) {
      .review__section .review__section-photo .review__img-img {
        width: 133px; } }
    @media screen and (max-width: 768px) {
      .review__section .review__section-photo {
        width: 133px;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 37px;
        display: flex; } }
  .review__section .review__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #292929;
    margin-bottom: 2.0625rem; }
    @media screen and (max-width: 768px) {
      .review__section .review__subtitle {
        text-align: center; } }
  .review__section .review__text {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #666666;
    margin-bottom: 2.0625rem; }
    @media screen and (max-width: 768px) {
      .review__section .review__text {
        text-align: center; } }
  .review__section .review__name {
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    color: #292929; }
    @media screen and (max-width: 768px) {
      .review__section .review__name {
        text-align: center; } }

.review__list {
  display: flex;
  background: white;
  justify-content: center; }
  .review__list .review__item {
    margin-right: 0.8125rem; }
  .review__list .review__img {
    object-fit: cover;
    width: 4.625rem;
    height: 4.625rem;
    border-radius: 50%;
    overflow: hidden; }
  .review__list .review__img--active {
    border: 0.25rem solid #E01F3D; }

.form-section {
  background: url("./img/icons/decor.jpg") center center no-repeat #161616;
  position: relative; }
  .form-section:after {
    content: url("./img/icons/Polygon.png");
    position: absolute;
    top: -1.7rem;
    right: 17rem; }
    @media screen and (max-width: 768px) {
      .form-section:after {
        right: 5rem; } }

.title-white {
  color: white;
  margin-bottom: 2rem; }
  @media screen and (max-width: 480px) {
    .title-white {
      white-space: nowrap;
      font-size: 35px; } }

.form {
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      flex-direction: column;
      padding: 0 8rem; } }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0 0; } }
  .form .form__col {
    flex: 1;
    margin-right: 2.5rem; }
    @media screen and (max-width: 768px) {
      .form .form__col {
        margin-right: 0; } }
    .form .form__col:last-child {
      margin-right: 0px; }
    .form .form__col .form__row {
      display: flex;
      margin-bottom: 0.9375rem; }
      @media screen and (max-width: 480px) {
        .form .form__col .form__row {
          justify-content: center; } }
      .form .form__col .form__row .form__block {
        flex: 1;
        margin-right: 1.5rem; }
        .form .form__col .form__row .form__block:last-child {
          margin-right: 0px; }
        .form .form__col .form__row .form__block .form__input {
          width: 100%;
          padding: 1.25rem 0.75rem;
          border: 0.1875rem solid transparent; }
          .form .form__col .form__row .form__block .form__input:focus {
            border-color: red;
            outline: none; }
        .form .form__col .form__row .form__block .form__input-textarea {
          height: 8.4375rem;
          resize: none; }

.radio {
  display: flex;
  align-items: center;
  margin-right: 2.1875rem;
  cursor: pointer;
  user-select: none; }
  .radio--checkbox .radio__control {
    border-radius: 0; }
    .radio--checkbox .radio__control:before {
      background: url("./img/icons/check.png") center center no-repeat; }
  .radio:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .radio {
      margin-right: 1rem; } }

.radio__button {
  display: none; }
  .radio__button:checked + .radio__control:before {
    display: block; }

.radio__control {
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border-radius: 50%;
  margin-right: 0.625rem;
  position: relative; }
  .radio__control:before {
    content: '';
    width: 0.875rem;
    height: 0.875rem;
    background: #E01F3D;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }

.form__title {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #FFFFFF;
  margin-bottom: 3px; }
  @media screen and (max-width: 768px) {
    .form__title {
      white-space: nowrap; } }
  @media screen and (max-width: 480px) {
    .form__title {
      white-space: nowrap; } }

.button__reset {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #FFFFFF;
  background: none;
  border: none;
  margin-left: 1.375rem; }

.form__row-button {
  padding-top: 1.5625rem; }
  @media screen and (max-width: 768px) {
    .form__row-button {
      justify-content: center; } }

.onepagescroll {
  position: fixed;
  top: 25%;
  right: 6rem;
  z-index: 100; }
  @media screen and (max-width: 768px) {
    .onepagescroll {
      display: none; } }
  @media screen and (max-width: 480px) {
    .onepagescroll {
      display: none; } }

.onepagescroll__item {
  margin-bottom: 0.3125rem; }
  .onepagescroll__item--active .onepagescroll__link {
    border-color: red; }
    .onepagescroll__item--active .onepagescroll__link:before {
      background-color: red; }

.onepagescroll__link {
  width: 1.125rem;
  height: 1.125rem;
  border: 0.0625rem solid transparent;
  position: relative;
  border-radius: 50%;
  display: block; }
  .onepagescroll__link:before {
    content: '';
    width: 0.5625rem;
    height: 0.5625rem;
    background: #292929;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.map-section {
  background: url(./img/photos/map.png) top center no-repeat;
  position: relative; }

.footer {
  position: absolute;
  right: 0;
  left: 0;
  background: white;
  bottom: 12rem; }

.footer__section {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__section {
      flex-direction: column;
      justify-content: center; } }

.footer__col-left {
  white-space: nowrap; }
  .footer__col-left .contacts:before {
    display: block; }

.contacts-footer {
  display: block; }

.socials {
  display: flex; }
  .socials .socials__item {
    margin-right: 0.625rem;
    width: 1.875rem;
    height: 1.875rem; }
    .socials .socials__item .socials__link {
      display: block; }
    .socials .socials__item:last-child {
      margin-right: 0; }
    .socials .socials__item:hover .socials__link svg {
      fill: black;
      transition: 0.6s; }

.fb-icon, .inst-icon, .tg-icon, .vk-icon {
  fill: #B3B3B3; }

/*# sourceMappingURL=main.css.map */
