.beats-section {
    background: rgb(245, 245, 245);
    position: relative;
    &::after {
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        background: #292929;
        transform: rotate(29.11deg);
        position: absolute;
        left: 74.5625rem;
        bottom: -1rem;
    }
}

.beats {
    display: flex;
    align-items: center;
    padding-top: 4.1875rem;
    padding-bottom: 5.8125rem;
    margin-bottom: 3.875rem;
        .beats__content {
            display: flex;
            
                @include tablets {
                    flex-direction: column;
                    

                }
        }
        .beats__link {
                @include tablets {
                    padding-bottom: 50%;
                }
                @include phones {
                    padding-bottom: 70%;
                }
            .beats__link-left {
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 0.125rem;
                border: 0.125rem solid black;
                display: inline-block;
                transform: rotate(45deg);
                border-right: transparent;
                border-top: transparent;
                margin-right: 1.875rem;
                @include tablets {
                    margin-right: 0;
                }
                
            }
            .beats__link-right {
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 0.125rem;
                border: 0.125rem solid black;
                display: inline-block;
                transform: rotate(45deg);
                border-left: transparent;
                border-bottom: transparent;
            }
            
        }
        .beats__img {
            
            flex: 50%;
            margin-right: 2.1875rem;
            margin-top: 1.875rem;
            border-radius: 50%;
                @include tablets {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 2.1875rem;
                    width: 47.5%;
                    margin-left: 29%;
                }
                @include phones {
                    width: 73%;
                    margin-left: 15%;
                }
        }
        .beats__desc {
            flex: 50%;
            @include tablets {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .beats__desc-menu {
                margin-bottom: 1.875rem;
                    @include tablets {
                        display: none;
                    }

                    .beats__desc-button {
                        width: 5.6875rem;
                        height: 5.6875rem;
                        background: #9A9A9A;
                        border-radius: 0.25rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
            }
            .beats__desc-title {
                font-style: normal;
                font-weight: bold;
                font-size: 2.25rem;
                line-height: 2.625rem;
                text-transform: uppercase;
                margin-bottom: 1.5rem;
                    @include tablets {
                        text-align: center;
                    }
            }
            .beats__desc-text {
                font-style: normal;
                font-weight: normal;
                font-size: 1rem;
                line-height: 1.1875rem;
                color: #666666;
                margin-bottom: 3.0625rem;
                @include tablets {
                    text-align: center;
                }
                
            }
            .beats__desc-specs {
                display: flex;
                margin-bottom: 3.125rem;
                    @include tablets {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .beats__desc-subtitle {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1rem;
                        line-height: 1.1875rem;
                        color: #666666;
                        margin-right: 5.8125rem;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    .beats__desc-parameter {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 1.125rem;
                        line-height: 1.3125rem;
                        color: black;
                    }
            }
            .beats__desc-order {
                display: flex;
                align-items: center;
                    .beats__desc-price {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 2.25rem;
                        line-height: 3.75rem;
                        text-transform: uppercase;
                        color: #151515;
                        margin-right: 1.5625rem;
                        white-space: nowrap;
                    }
            }
        }
}

