.button {
    background: rgb(224, 31, 61);
    border-radius: 6.25rem;
    padding: 1.3125rem 2.5625rem;
    color: white;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
        &:hover {
            background: rgb(202, 27, 54);
        }
}

