.button {
    background: rgb(224, 31, 61);
    border-radius: 100px;
    padding: 21px 41px;
    color: white;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
}

.button:hover {
    background: rgb(202, 27, 54);
}

