.contacts__link {
    text-decoration: none;
    font-size: 1.125rem;
    color: black;
}

.contacts:before {
    content: url('./img/icons/phone.png');
    width: 0.875rem;
    height: 0.875rem;
    margin-right: 0.1875rem;
    display: inline-block;
}

