.features {
    
        .features__list {
            display: flex;
            
                .features__item {
                    display: flex;
                    align-items: center;
                    margin-right: 1.875rem;
                    width: 9.5625rem;
                        .features__img {
                            margin-right: 0.5rem;
                        }
                }
        }
}


