.features {
    padding-bottom: 40px;
        .features__list {
            display: flex;
            margin-top: -40px;
                .features__item {
                    display: flex;
                    align-items: center;
                    margin-right: 30px;
                    width: 153px;
                        .features__img {
                            margin-right: 8px;
                        }
                }
        }
}


