.features {
    
        .features__list {
            display: flex;
            @include tablets {
                display: none;
            }
                .features__item {
                    display: flex;
                    align-items: center;
                    margin-right: 1.875rem;
                    width: 9.5625rem;
                        .features__icon {
                            margin-right: 0.5rem;
                            width: 50%;
                        }
                }
        }
}


