.preview {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
        .preview__desc {
            margin-right: 0px;
            padding-top: 2.0625rem;
                .title-left {
                    text-align: left;
                }
                .preview__desc-info {
                    font-size: 1.3125rem;
                    line-height: 1.5625rem;
                    color: black;
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                }
        }
        
}







