.preview {
    display: flex;
    justify-content: space-between;
        .preview__desc {
            margin-right: 0px;
            padding-top: 33px;
                .title_left {
                    text-align: left;
                }
                .preview__desc_info {
                    font-size: 21px;
                    line-height: 25px;
                    color: black;
                    padding-top: 32px;
                    padding-bottom: 32px;
                }
        }
        .preview__headphones {
            margin-right: 42px;
        }
}







