
.first-screen {
    background-color: rgb(245, 245, 245);
    position: relative;
        
        
}

.first-screen__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.first-screen:after {
    content: '';
    width: 2.875rem;
    height: 0.625rem;
    background: #C4C4C4;
    position: absolute;
    left: 70rem;
    transform: rotate(-45deg);
    bottom: 0;
        @include tablets {
            left: 40.5rem;
        }
        @include phones {
            left: 28rem;
        }
}


.preview {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
        @include tablets {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            flex-flow: column-reverse;
            justify-content: center;
            align-items: center;
        }
        .preview__desc {
            margin-right: 0px;
            padding-top: 2.0625rem;
            width: 50%;
            @include tablets {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 93%;
            }
                .title-left {
                    text-align: left;
                        @include tablets {
                            text-align: center;
                        }
                        @include phones {
                            padding: 0 3rem;
                        }
                }
                .preview__desc-info {
                    font-size: 1.3125rem;
                    line-height: 1.5625rem;
                    color: black;
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                        @include tablets {
                            padding: 2rem 7rem;
                        }
                        @include phones {
                            padding: 2rem 2rem;
                        }
                }
        }
        .preview__headphones {
            width: 54%;
            
            
        }
        
}







