.review {
    margin-bottom: 5.375rem;
}

.review__section--circle {
    position: relative;
    &:before {
        content: '';
        width: 5.1875rem;
        height: 5.1875rem;
        background: white;
        position: absolute;
        border-radius: 50%;
        left: 50%;
        top: -4.0625rem;
            @include tablets {
                left:45%;
            }
    }
}

.review__section {
    overflow: hidden;
    display: flex;
    align-items: center;
    background: #F8FAF9;
    padding: 3.125rem 2.875rem 2.1875rem 2.875rem;
    margin-bottom: 1.0625rem;
    margin-top: 2.3125rem;
        @include tablets {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .review__section-photo {
            
            margin-right: 1.25rem;
            min-width: 32%;
                .review__img-img {
                    @include tablets {
                        width: 133px;}
                }
                @include tablets {
                    width: 133px;
                    justify-content: center;
                    margin-right: 0;
                    margin-bottom: 37px;
                    display: flex;
                }
        }


        .review__subtitle {
            font-style: normal;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.75rem;
            color: #292929;
            margin-bottom: 2.0625rem;
            @include tablets {
                text-align: center;
            }
        }
        .review__text {
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.1875rem;
            color: #666666;
            margin-bottom: 2.0625rem;
            @include tablets {
                text-align: center;
            }
        }
        .review__name {
            font-style: normal;
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 1.3125rem;
            color: #292929;
            @include tablets {
                text-align: center;
            }
        }
}

.review__list {
    display: flex;
    background: white;
    justify-content: center;
        .review__item {
            margin-right: 0.8125rem;
        }
        .review__img {
            object-fit: cover;
            width: 4.625rem;
            height: 4.625rem;
            border-radius: 50%;
            overflow: hidden;
            
        }
        .review__img--active {
            border: 0.25rem solid #E01F3D;
        }        
}
