.review {
    margin-bottom: 5.375rem;
}

.review__section--circle {
    position: relative;
    &:before {
        content: '';
        width: 5.1875rem;
        height: 5.1875rem;
        background: white;
        position: absolute;
        border-radius: 50%;
        left: 50%;
        top: -3.5rem;
            @include tablets {
                left:45%;
            }
    }
}

.review__list {
    position: relative;
    margin-bottom: 4rem;
    margin-top: 4rem;
    background: #F8FAF9;
    min-height: 21.75rem;
}
.review__item.active {
    position: static;
    opacity: 1;
    pointer-events: unset;
}

.review__item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
    display: flex;
    opacity: 0;
    padding: 2.625rem 2.625rem 2.625rem 2.625rem;
    
        @include tablets {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .review__item-photo {
            
            margin-right: 1.25rem;
            min-width: 32%;
                .review__img-img {
                    @include tablets {
                        width: 133px;}
                }
                @include tablets {
                    width: 133px;
                    justify-content: center;
                    margin-right: 0;
                    margin-bottom: 37px;
                    display: flex;
                }
        }


        .review__subtitle {
            font-style: normal;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.75rem;
            color: #292929;
            margin-bottom: 2.0625rem;
            @include tablets {
                text-align: center;
            }
        }
        .review__text {
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.1875rem;
            color: #666666;
            margin-bottom: 2.0625rem;
            @include tablets {
                text-align: center;
            }
        }
        .review__name {
            font-style: normal;
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 1.3125rem;
            color: #292929;
            @include tablets {
                text-align: center;
            }
        }
}

.review__photo-list {
    display: flex;
    background: white;
    justify-content: center;
        .review__photo-item {
            margin-right: 0.8125rem;
            object-fit: cover;
            width: 4.625rem;
            height: 4.625rem;
            border-radius: 50%;
            overflow: hidden;
        }
        
        .review__photo-item.active {
            border: 0.25rem solid #E01F3D;
            
        }        
}
