.team {
    margin-bottom: 3.125rem;
    
        
}

.team--version--desktop {
    @include tablets {
        display: none;
    }
}

.team--version--desktop .team__list {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
        .team__item {
            text-align: center;
            margin-right: 20px;
            position: relative;

                .team__content {
                    height: 0;
                    overflow: hidden;
                    position: absolute;
                    transition: 0.3s;
                }

                .team__img {
                    margin-bottom: 1.0625rem;
                        .team__img-img {
                            min-height: 18.125rem;
                            min-width: 13.75rem;
                        }
                }
                
                .team__name {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.125rem;
                    line-height: 1.3125rem;
                    color: #292929;
                    margin-bottom: 0.5625rem;
                    display: inline-block;
                    cursor: pointer;
                        &::after {
                            content: url("./img/icons/triangle.png");
                            margin-left: 5px;
                        }
                }

                .team__job {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1rem;
                    line-height: 1.1875rem;
                    color: #292929;
                    margin-bottom: 0.5625rem;
                }
                .team__text {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1rem;
                    line-height: 1.1875rem;
                    color: #666666;
                }
        }
}

