body {
    font-family: 'Play', 'Alegreya Sans';
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

a {
    color: inherit;
}

.main-page-wrapper {
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 58.75rem;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0px;
}

.first-screen {
    background-color: rgb(245, 245, 245);
    position: relative;
}

.first-screen__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.first-screen:after {
    content: '';
    width: 2.875rem;
    height: 0.625rem;
    background: #C4C4C4;
    position: absolute;
    left: 70rem;
    transform: rotate(-45deg);
    bottom: 0;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.25rem;
    text-align: center;
    text-transform: uppercase;
    color: #292929;
    
}

input {
    outline: none;
}

textarea {
    outline: none;
}

.section {
    min-height: 40.625rem;
    height: 100vh;
    display: flex;
    align-items: center;
}